@import url(./reset.css);

html {
    scroll-behavior: smooth;
}

:root {
    --white: #ffffff;
    --blue: #3877EE;
    --green: #6ABF4B;
    --blueCircle: rgb(56, 119, 238, 0.7);
    --greenCircle: rgb(106, 191, 75, 0.7);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
}

.map {
    position: relative;
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
}

.map::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1080px;
    background: linear-gradient(rgba(2, 15, 32, 0.4), rgba(2, 15, 32, 0.4)),
        url(./../img/main.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

#point {
    transition: all 0.5s ease-in-out;
}

.container {
    position: relative;
}

.cta {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    color: var(--white);
    transition: width 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blueCircle);
    box-shadow: 0 0 0 1px var(--blue);
    overflow: hidden;
}

.cta:focus {
    width: 150px;
    transition: all 0.5s ease-in-out;
}

.cta svg {
    width: 100%;
    height: 100%;
}

.cta .button-text {
    position: absolute;
    left: 40px;
    right: 15px;
    display: none;
    transition: all 0.5s ease-in-out;
}

.cta:focus svg {
    position: absolute;
    left: 0px;
}

.cta:focus .button-text {
    display: block;
    transition: all 2s;
    left: 40px;
    right: 15px;
}

.green {
    background-color: var(--greenCircle);
    box-shadow: 0 0 0 1px var(--green);
}

.green:focus {
    background-color: var(--green);
} 

.blue {
    background-color: var(--blueCircle);
    box-shadow: 0 0 0 1px var(--blue);
}

.blue:focus {
    background-color: var(--blue);
}